// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.header-counter {
    text-align: center;
}

.header-counter h1 {
    font-weight: bolder;
}
.table-hover tbody tr:hover{
    background-color: #fff7e0;
}
.table-countries tbody td:nth-child(2),  td:nth-child(3),  td:nth-child(4),  td:nth-child(5) {
    text-align: center;
}

.table-countries thead th:nth-child(2),  th:nth-child(3),  th:nth-child(4),  th:nth-child(5) {
    text-align: center;
}

.country-container {
    max-height: 500px;
    overflow-y: auto;
}

body {
    background-color: #343a40 ;
    font-family: sans-serif;
}